@import url(https://fonts.googleapis.com/css?family=Lora:400|Source+Sans+Pro:300);
@import '~normalize.css/normalize';

$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

/*
 * Colours
 */

$cream: rgb(255, 255, 157);
$cream-outline: $cream - 10%;
$darkgrey: rgb(72, 72, 72);
$mediumgrey: rgb(128, 128, 128);
$lightgrey: rgb(196, 196, 196);
$deepgreen: rgb(0, 163, 136);
$mediumgreen: rgb(121, 189, 143);
$lightgreen: rgb(190, 235, 159);
$lightgreen-outline: $lightgreen - 10%;
$orange: rgb(255, 97, 56);

/*
 * Other settings
 */
$borderRadius: .25em;

/*
 * Fonts
 */
$serif: 'Lora';
$sans-serif: 'Source Sans Pro';

div.todo-app {

    *, ::before, ::after {
        box-sizing: border-box;
    }

    font-family: $serif;
    font-size: 1em; // Adjust to scale app;

    max-width: 24em;
    line-height: 1.25;
    color: $darkgrey;
    padding: 1em;

    h1 {
        font-family: $sans-serif;
    }

    .add-item {
        padding: 1em;
        border: 1px solid $lightgreen;
        border-radius: $borderRadius;
        width: 100%;
        background: white;

        &:hover:not(:disabled) {
            border-color: $lightgreen-outline;
            background: $lightgreen;
        }

        &:focus, &:hover:focus {
            border-color: currentColor;
            outline: 0;
        }

        &:disabled {
            opacity: .5;
        }

        i {
            margin-left: .5em;
        }

    }

    @import './components/itemList';
    @import './components/search';

}
