{
    "extends": "eslint:recommended",
    "env": {
        "es6": true
    },
    "ecmaFeatures": {
        "modules": true,
        jsx: true
    },
    "rules": {
        "curly": 2,
        "eqeqeq": 2,
        "indent": 2,
        "no-multi-spaces": 2,
        "no-var": 2,
        "quotes": [ 2, "single" ],
        "semi": [ 2, "always" ]
    }
}
